### pandas advance assignment-1

### Q1. List any five functions of the pandas library with execution.

### Sure! Here are five commonly used functions of the pandas library along with examples demonstrating their use:

### 1.Creating a DataFrame
### 2.Reading a CSV file
### 3.Descriptive Statistics
### 4.DataFrame Filtering
### 5.Grouping and Aggregation

In [2]:
#  1.Creating a DataFrame
# 2.Reading a CSV file
import pandas as pd

# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [3]:
#2.Reading a CSV file
# Example CSV content for demonstration
csv_content = """Name,Age,City
Alice,25,New York
Bob,30,Los Angeles
Charlie,35,Chicago
"""

# Writing the CSV content to a file
with open('example.csv', 'w') as file:
    file.write(csv_content)

# Reading the CSV file into a DataFrame
df = pd.read_csv('example.csv')
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [2]:
# 3.Descriptive Statistics
print(df.describe())

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [3]:
# 4.DataFrame Filtering rows where Age > 25
filtered_df = df[df['Age'] > 25]
print(filtered_df)

      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [4]:
# 5.Grouping and Aggregation by City and calculating the mean Age
grouped_df = df.groupby('City').mean()
print(grouped_df)

              Age
City
Chicago      35.0
Los Angeles  30.0
New York     25.0

/tmp/ipykernel_5335/3388665431.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df = df.groupby('City').mean()

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

### To re-index a Pandas DataFrame with a new index that starts from 1 and increments by 2 for each row, we can define a function that achieves this. Here's how we can do it:

In [5]:
import pandas as pd

def reindex_dataframe(df):
    # Create a new index starting from 1 and incrementing by 2
    new_index = range(1, 2 * len(df) + 1, 2)
    # Assign the new index to the DataFrame
    df.index = new_index
    return df

# Example DataFrame
dataset = {
    'A': [10, 20, 30],
    'B': [40, 50, 60],
    'C': [70, 80, 90]
}
df = pd.DataFrame(dataset)
print("Original DataFrame:")
print(df)

# Re-index the DataFrame
reindexed_df = reindex_dataframe(df)
print("\nRe-indexed DataFrame:")
print(reindexed_df)

Original DataFrame:
    A   B   C
0  10  40  70
1  20  50  80
2  30  60  90

Re-indexed DataFrame:
    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
### function should print the sum to the console.
### For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

### Sure! Here's a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column:

In [6]:
import pandas as pd

def sum_first_three(df):
    # Ensure there are at least three values
    if len(df) < 3:
        print("The DataFrame does not contain enough values.")
        return
    
    # Sum the first three values in the 'Values' column
    sum_values = df['Values'].iloc[:3].sum()
    
    # Print the sum
    print("Sum of the first three values:", sum_values)

# Example DataFrame
data_a = {
    'Values': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data_a)

# Call the function with the example DataFrame
sum_first_three(df)

Sum of the first three values: 60

### In this function, the iloc method is used to select the first three values in the 'Values' column, and then the sum() method is used to calculate their sum. The function prints the result to the console. we can run this code in our Python environment to see the output.

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

### Sure! we can create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column using the apply function along with a lambda function. Here is an example of how to do it:

In [7]:
import pandas as pd

def add_word_count_column(df):
    # Create the 'Word_Count' column
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

# Example DataFrame
data_b = {
    'Text': ['This is a sentence.', 'Here is another one.', 'And a third one.']
}
df = pd.DataFrame(data_b)

# Call the function to add the 'Word_Count' column
df = add_word_count_column(df)
print(df)

                   Text  Word_Count
0   This is a sentence.           4
1  Here is another one.           4
2      And a third one.           4

### This function uses the apply method to apply a lambda function to each element in the 'Text' column. The lambda function splits the text into words and counts the number of words using len(x.split()). The result is stored in the new 'Word_Count' column. we can run this code in our Python environment to see the output.

### Q5. How are DataFrame.size() and DataFrame.shape() different?

### DataFrame.size and DataFrame.shape are attributes of a Pandas DataFrame that provide different types of information about the DataFrame:

### 1.DataFrame.size

### Description: Returns the total number of elements in the DataFrame.
### Output: An integer representing the total number of elements (i.e., rows × columns).

In [8]:
import pandas as pd

data_c = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data_c)
print(df.size)

9

### 2.DataFrame.shape

### Description: Returns a tuple representing the dimensionality of the DataFrame.
### Output: A tuple of the form (number of rows, number of columns).

In [9]:
import pandas as pd

data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)
print(df.shape)

(3, 3)

### DataFrame.size gives us the total number of elements in the DataFrame.
### DataFrame.shape gives us the number of rows and columns in the DataFrame as a tuple.

### Q6. Which function of pandas do we use to read an excel file?

### To read an Excel file into a Pandas DataFrame, we use the pd.read_excel() function. This function can read Excel files in both .xls and .xlsx formats.
import pandas as pd

### Reading an Excel file
df = pd.read_excel('path_to_file.xlsx')

### Display the DataFrame
print(df)
### Parameters of pd.read_excel()
### Some of the important parameters we can use with pd.read_excel() include:
### io: The path to the Excel file or a file-like object.
### sheet_name: The sheet name or index to read (default is 0). we can also pass a list of sheet names or None to read all sheets.
### header: The row number(s) to use as the column names.
### names: A list of column names to use.
### index_col: The column(s) to use as the row index.
### usecols: The columns to read.
### Example with Parameters
### Reading a specific sheet and specifying the column to use as the index
df = pd.read_excel('path_to_file.xlsx', sheet_name='Sheet1', index_col=0)

### Display the DataFrame
print(df)
### This function provides a lot of flexibility for reading Excel files into Pandas DataFrames.

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
### The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

### Sure! we can create a new column 'Username' that contains only the username part of each email address by using the str.split() method. Here’s how we can do it:

In [10]:
import pandas as pd

def extract_usernames(df):
    # Split the 'Email' column at '@' and take the first part
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

# Example DataFrame
data_d = {
    'Email': ['john.doe@example.com', 'jane.smith@domain.com', 'foo.bar@anotherdomain.com']
}
df = pd.DataFrame(data_d)

# Call the function to create the 'Username' column
df = extract_usernames(df)
print(df)

                       Email    Username
0       john.doe@example.com    john.doe
1      jane.smith@domain.com  jane.smith
2  foo.bar@anotherdomain.com     foo.bar

### In this function, the str.split('@') method splits each email address at the '@' symbol, and str[0] selects the part before the '@' symbol (the username). The resulting usernames are stored in the new 'Username' column. we can run this code in our Python environment to see the output.

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
### For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
### Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
### The function should return a new DataFrame that contains only the selected rows.

### To select rows based on the specified conditions (column 'A' > 5 and column 'B' < 10), we can use boolean indexing. Here’s how we can write a Python function to achieve this

In [11]:
import pandas as pd

def select_rows(df):
    # Apply the conditions to filter the DataFrame
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df

# Example DataFrame
data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}
df = pd.DataFrame(data)

# Call the function to select the rows
selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Boolean Indexing: The conditions (df['A'] > 5) and (df['B'] < 10) create boolean Series. The & operator is used to combine these conditions.
### Filtering: The DataFrame is filtered by passing the combined conditions inside df[], resulting in a new DataFrame containing only the rows that satisfy both conditions

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

### we can use the mean(), median(), and std() methods provided by Pandas to calculate the mean, median, and standard deviation of the values in the 'Values' column. Here’s how we can write a Python function to achieve this:

In [12]:
import pandas as pd

def calculate_statistics(df):
    # Calculate the mean
    mean_value = df['Values'].mean()
    
    # Calculate the median
    median_value = df['Values'].median()
    
    # Calculate the standard deviation
    std_value = df['Values'].std()
    
    return mean_value, median_value, std_value

# Example DataFrame
data_f = {
    'Values': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data_f)

# Call the function to calculate the statistics
mean_value, median_value, std_value = calculate_statistics(df)

print(f"Mean: {mean_value}")
print(f"Median: {median_value}")
print(f"Standard Deviation: {std_value}")

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

### 1.Mean: df['Values'].mean() calculates the mean of the values in the 'Values' column.
### 2.Median: df['Values'].median() calculates the median of the values in the 'Values' column.
### 3.Standard Deviation: df['Values'].std() calculates the standard deviation of the values in the 'Values' column.

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

### To calculate the moving average of the sales for the past 7 days for each row in a Pandas DataFrame, we can use the rolling method with a window size of 7 and the mean function. Here’s how we can write a Python function to achieve this:

In [13]:
import pandas as pd

def add_moving_average(df):
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Sort the DataFrame by 'Date' if not already sorted
    df = df.sort_values('Date')
    
    # Calculate the moving average with a window of 7 days
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

# Example DataFrame
data_1 = {
    'Date': ['2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05', 
             '2024-07-06', '2024-07-07', '2024-07-08', '2024-07-09'],
    'Sales': [200, 220, 210, 230, 250, 270, 260, 280, 300]
}
df = pd.DataFrame(data_1)

# Call the function to add the 'MovingAverage' column
df = add_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2024-07-01    200     200.000000
1 2024-07-02    220     210.000000
2 2024-07-03    210     210.000000
3 2024-07-04    230     215.000000
4 2024-07-05    250     222.000000
5 2024-07-06    270     230.000000
6 2024-07-07    260     234.285714
7 2024-07-08    280     245.714286
8 2024-07-09    300     257.142857

### 1.Convert 'Date' column to datetime: This ensures that the 'Date' column is in the correct format for sorting and rolling calculations.
### 2.Sort by 'Date': Ensure the DataFrame is sorted by the 'Date' column to calculate the moving average correctly.
### 3.Calculate Moving Average: Use the rolling method with a window size of 7 and min_periods=1 to include the current day and calculate the moving average even if there are fewer than 7 days available at the start.

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
### For example, if df contains the following values:
### Date
### 0 2023-01-01
### 1 2023-01-02
### 2 2023-01-03
### 3 2023-01-04
### 4 2023-01-05
### Your function should create the following DataFrame:

### Date Weekday
### 0 2023-01-01 Sunday
### 1 2023-01-02 Monday
### 2 2023-01-03 Tuesday
### 3 2023-01-04 Wednesday
### 4 2023-01-05 Thursday
### The function should return the modified DataFrame.

### To create a new column 'Weekday' in the DataFrame based on the 'Date' column, we can use the Pandas library along with the pd.to_datetime() function to convert the 'Date' column to datetime format and then use the dt.day_name() method to get the weekday names. Here's a Python function that accomplishes this:

In [14]:
import pandas as pd

def add_weekday_column(df):
    # Ensure 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Create 'Weekday' column with weekday names
    df['Weekday'] = df['Date'].dt.day_name()
    
    return df

# Example usage
data_2 = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data_2)
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### 1.Convert the 'Date' column to a datetime format using pd.to_datetime().
### 2.Create the 'Weekday' column by extracting the weekday name from the 'Date' column with the dt.day_name() method.
### 3.Return the modified DataFrame.

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

### To filter rows in a Pandas DataFrame where the 'Date' column falls within a specific date range, we can use boolean indexing along with the pd.to_datetime() function to ensure the 'Date' column is in datetime format.

In [15]:
import pandas as pd

def filter_dates(df, start_date, end_date):
    # Ensure 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Convert start_date and end_date to datetime
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)
    
    # Filter rows where 'Date' is between start_date and end_date
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return filtered_df

# Example usage
data_3 = {'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-01']}
df = pd.DataFrame(data_3)
filtered_df = filter_dates(df, '2023-01-01', '2023-01-31')
print(filtered_df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

### 1.Converts the 'Date' column to datetime format to ensure accurate comparisons.
### 2.Converts the start_date and end_date parameters to datetime format.
### 3.Filters the DataFrame to include only rows where the 'Date' column is between the specified start and end dates using boolean indexing.
### 4.Returns the filtered DataFrame.

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

### To use the basic functions of Pandas, we need to import the Pandas library itself. The standard way to import Pandas is:

In [16]:
import pandas as pd

### This import statement allows we to access Pandas functions and classes using the pd alias, which is a common convention in the Python data analysis community.